@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$red: #cc0000;
$yellow: #e6b800;
$white: #fff;
$black: #111;

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.home {
    height: 120vh;
    background: linear-gradient(to top right, $red, $yellow);

    h1 {
        color: $white;
    }

    #quote-box {
        background: $white;
        border-radius: 10px;
        color: $black;
    }

    #text {
        font-size: 2em;
        font-weight: 800;
        font-style: italic;
    }

    #author {
        font-size: 1.1em;
        text-align: right;
        padding-right: 2em;
    }

    .group-btn {
        align-items: stretch;
        justify-content: space-evenly;

        button, a {
            width: 30%;
        }
    }
}





